





h1 {
	color: #3399ff;
	text-align: center;
}

body {
	background-color: #edecea;
	
}

h2 {
	text-align: center;
	margin-top: 2%;
}

.main{
	border: black solid;
	border-width: 0.5px;
	width: 50%;
	margin-left: 24%;
	padding-left: 1%;
	padding-right: 1%;
}
#homeHeading{
	border:solid;
	width:30%;
}
#homeIcon{
	float:left;
	width: 70px;
	height: 50px;
	padding-left: 10%;
	padding-right: 10%;
}

#homeImage{
	width: 70%;
	height: 90%;
	padding-left: 15%;
	padding-right: 15%;
}

#saleId {
	float: left;
}

.submitDiv {
	text-align:center;
}

.inputfield {
	text-align: left;
}

.radiotable {
	text-align: left;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

table {
	border-collapse: collapse;
}

td.inputname {
	text-align:right;
}

th, td {
	text-align:center;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
	
}

li.dropdown {
    display: inline-block;
	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e6e6e6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #66b3ff;
	color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

